<!-- <button (click)="start()">start</button>
<button (click)="stop()">stop</button>
<button (mousedown)="onKeyDown()" (mouseup)="onKeyUp()">key</button>
<div>
  <label for="volume">volume</label>
  <input
    type="range"
    id="volume"
    name="volume"
    min="0"
    max="2"
    step="0.01"
    [(ngModel)]="volume"
  />
</div> -->
<app-oscillator-node />
<app-destination-node />
<div
  *ngFor="let point of debuggerService.points | async"
  [style.left.px]="point[0]"
  [style.top.px]="point[1]"
  class="border rounded-full border-yellow-400 bg-yellow-200 w-2 h-2 absolute -translate-x-1/2 -translate-y-1/2"
></div>
