<!-- <button (click)="start()">start</button>
<button (click)="stop()">stop</button>
<button (mousedown)="onKeyDown()" (mouseup)="onKeyUp()">key</button>
<div>
  <label for="volume">volume</label>
  <input
    type="range"
    id="volume"
    name="volume"
    min="0"
    max="2"
    step="0.01"
    [(ngModel)]="volume"
  />
</div> -->
<app-oscillator-node />
<app-destination-node />
<svg class="absolute inset-0 z-10 pointer-events-none w-full h-full">
  <circle
    *ngFor="let point of debuggerService.points | async"
    [attr.cx]="point[0]"
    [attr.cy]="point[1]"
    [attr.r]="3"
    class="stroke-1 stroke-yellow-400 fill-yellow-200"
  ></circle>
</svg>
<svg class="absolute inset-0 z-0 pointer-events-none w-full h-full">
  <line
    *ngFor="let arrow of arrowService.arrows | async"
    [attr.x1]="arrow.start[0]"
    [attr.y1]="arrow.start[1]"
    [attr.x2]="arrow.end[0]"
    [attr.y2]="arrow.end[1]"
  ></line>
</svg>
